.Liquidity {
  
  font-size: 24px;
  font-weight: bold;
  .basic-font;
  
  
    .head-title {
     
      font-size: 20px;
      margin-left: 11px;
    }
    .head-img {
      width: 32px;
      height: 32px;
    }
  

  .top {
    margin-left: 40px;
    margin-right: 40px;

    .header {
      display: flex;
      justify-content: space-between;

      .title {
        width: 115px;
        height: 36px;
        font-size: 24px;
        font-weight: bold;
        .basic-font;
      }

      .icon {
        display: flex;

        .icon-1,
        .icon-2 {
          width: 20px;
          height: 20px;
        }

        .icon-1 {

          margin-right: 25px;
        }
      }

    }

    .title-2 {
      height: 24px;
      margin: 7px 59px 47px 0;
      
      font-size: 16px;
      font-weight: 300;
       .basic-font;
      
      margin-bottom: 47px;
    }

    .add-button {
      cursor: pointer;
      width: 183px;
      height: 58px;
      line-height: 58px;
      margin: 40px 10px 35.2px 40px;
      border-radius: 6px;
      
      font-size: 20px;
      font-weight: 500;
      .basic-font;
      text-align: center;
      
      .black-theme-img2;
      user-select: none;
    }

    .add-button:active {
      opacity: 0.65;
    }
  }
}

.bottom {
  .pink-border-color3;
  .basic-font;
  .title {
    display: flex;
    justify-content: space-between;
    height: 27px;
    margin: 28.8px 40px 68px 40px;
    font-size: 18px;
    font-weight: 500;
    
    
    user-select: none;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .content {
    text-align: center;
    margin: 68px 0px 74px 0;
    font-size: 20px;
    font-weight: 300;
	.basic-font;
  }

  .value {
    margin-left: 40px;
    font-size: 16px;
    margin-right: 40px;
	.basic-font;
    .value-2 {
      margin-top: 15px;
    }
  }
}

.el-dropdown {
  .el-icon-arrow-down {
    font-size: 18px;
  }
}

.icon-img-20 {
  width: 20px;
  height: 20px;
}

.list-row-down {
  width: 12px;
  height: 12px;
}