.Liquidity {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  .font-color1;
}
.Liquidity .top {
  margin-left: 40px;
  margin-right: 40px;
}
.Liquidity .top .header {
  display: flex;
  justify-content: space-between;
}
.Liquidity .top .header .title {
  width: 115px;
  height: 36px;
  font-size: 24px;
  font-weight: bold;
  .basic-font;
}
.Liquidity .top .header .icon {
  display: flex;
}
.Liquidity .top .header .icon .icon-1,
.Liquidity .top .header .icon .icon-2 {
  width: 20px;
  height: 20px;
}
.Liquidity .top .header .icon .icon-1 {
  margin-right: 25px;
}
.Liquidity .top .title-2 {
  height: 24px;
  margin: 7px 59px 47px 0;
  font-family: NotoSansCJKkr;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  .font-color1;
  margin-bottom: 47px;
}
.Liquidity .top .add-button {
  cursor: pointer;
  width: 183px;
  height: 58px;
  line-height: 58px;
  margin: 40px 10px 35.2px 40px;
  border-radius: 6px;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  .font-color5;
  .black-theme-img2;
  user-select: none;
}
.Liquidity .top .add-button:active {
  opacity: 0.65;
}
.bottom {
  border-top: solid 1px #d8d8d8;
  .pink-border-color3;
}
.bottom .title {
  display: flex;
  justify-content: space-between;
  height: 27px;
  margin: 28.8px 40px 68px 40px;
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  .font-color1;
  user-select: none;
}
.bottom .title .icon {
  width: 20px;
  height: 20px;
}
.bottom .content {
  text-align: center;
  margin: 68px 0px 74px 0;
  font-size: 20px;
  font-weight: 300;
  .basic-font;
  user-select: none;
}
.bottom .value {
  margin-left: 40px;
  .font-color1;
  font-size: 16px;
  .basic-font;
  margin-right: 40px;
}
.bottom .value .value-2 {
  margin-top: 15px;
}
.el-dropdown .el-icon-arrow-down {
  font-size: 18px;
}
.icon-img-20 {
  width: 20px;
  height: 20px;
}
.list-row-down {
  width: 12px;
  height: 12px;
}
