.font-color1 {
  color: #000000;
}
.font-color2 {
  color: #444444;
}
.font-color3 {
  color: #a5a5a5;
}
.font-color4 {
  color: #ffffff;
}
.font-color5 {
  color: #010033;
}
.font-color6 {
  color: #727272;
}
.font-color7 {
  color: #2f303f;
}
.font-color8 {
  color: #161557;
}
.font-color9 {
  color: #ffa402;
}
.font-color10 {
  color: #ebebeb;
}
.font-color11 {
  color: #a5a5a5;
}
.font-color12 {
  color: #d8d8d8;
}
.font-size14 {
  font-size: 14px;
}
.font-size16 {
  font-size: 16px;
}
.font-size24 {
  font-size: 24px;
}
.font-size26 {
  font-size: 26px;
}
.theme-back {
  background-color: #fafafa;
}
.theme-back1 {
  background-color: #f5f5f5;
}
.theme-back2 {
  background-color: #eaeaea;
}
.theme-box-back {
  background-color: #fff;
}
.theme-black-back {
  background-color: #000000;
}
.theme-yellow-back {
  background-color: #ffa402;
}
.theme-pink-back {
  background-color: #2f303f;
}
.theme-pink-back1 {
  background-color: #ebebeb;
}
.theme-pink-back2 {
  background-color: #d8d8d8;
}
.theme-pink-back3 {
  background-color: rgba(245, 245, 245, 0.41);
}
.theme-pink-back4 {
  background-color: #181742;
}
.mask-back {
  background-color: rgba(0, 0, 0, 0.5);
}
.theme-list-back {
  background-color: #f0f0f0;
}
.blue-btn-color {
  background-color: #00b3ff;
}
.black-font-color {
  background-color: #010033;
}
.black-border-color {
  border-color: #010033;
}
.pink-border-color {
  border-color: #dcdfe6;
}
.pink-border-color1 {
  border-color: #a5a5a5;
}
.pink-border-color2 {
  border-color: #f5f5f5;
}
.pink-border-color3 {
  border-color: #d8d8d8;
}
.theme-basic-border {
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 1px;
}
.drak .theme-back {
  background-color: #000;
}
.black-theme-img {
  background-image: linear-gradient(to left, #010033, #2c3074 68%, #010033 88%);
}
.black-theme-img1 {
  background-image: linear-gradient(to left, #44465e, #2f303f 0%);
}
.black-theme-img2 {
  background-image: linear-gradient(to left, #ffe505, #ffc81c 0%);
}
.black-theme-img3 {
  background-image: linear-gradient(to left, #0b0d36, #44465e 0%);
}
.black-theme-img4 {
  background-image: linear-gradient(to bottom, #fbfbfb 21%, #f5f5f5);
}
.black-theme-img5 {
  background-image: linear-gradient(to bottom, #e4ede1, #ffffff 87%);
}
.black-theme-img6 {
  background-image: linear-gradient(to left, #ffe505, #ffc81c 0%);
}
.black-theme-img7 {
  background-image: linear-gradient(275deg, #11122e 99%, #2c3053 31%, #070721 2%);
}
.layout-mt20 {
  margin-top: 20px;
}
.layout-mt24 {
  margin-top: 24px;
}
.full-r-w {
  width: 100%;
}
.fx-box {
  display: flex;
}
.fx-aj-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fx-aj-cs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fx-fd-c {
  display: flex;
  flex-direction: column;
}
.fx-ai-c {
  display: flex;
  align-items: center;
}
.fx-aj-cs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fx-aj-ca {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fx-ai-c {
  align-items: center;
}
.fx-jc-sb {
  justify-content: space-between;
}
.fx-jc-c {
  justify-content: center;
}
.fx-ai-b {
  align-items: baseline;
}
.fx-fd-jc-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fx-1 {
  flex: 1;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.basic-font {
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.basic-btn-yellow {
  border-radius: 6px;
  text-align: center;
  background-image: linear-gradient(to left, #ffe505, #ffc81c 0%);
}
.layout-rel {
  position: relative;
}
.layout-abs {
  position: absolute;
}
