/* @charset "UTF-8";
// 背景颜色
@bgcolor: #0f0f3f;
// 盒子模型
@boxcolor: #0f1145;
// 头部和左侧栏
@header-left: #010033;
// 字体颜色
@font-color: #ffffca; */
// 第二种
// 背景颜色
@bgcolor: #f7f7f7;
// 盒子模型
@boxcolor: #fff;
// 头部和左侧栏
@header-left: #ffffff;
// 字体颜色
@font-color: #000;

@list-item-back:#f0f0f0;

.font-color1{
    color: #000;
}

.font-color2{
    color: #444444;
}

.font-size14{
    font-size: 14px;
}
.font-size16{
    font-size: 16px;
}
.font-size24{
    font-size: 24px;
}

.layout-mt24{margin-top:24px;}
.full-r-w{
    width: 100%;
}
.fx-box{
    display: flex;
}
.fx-aj-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fx-aj-cs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fx-fd-c{
    display: flex;
    flex-direction: column;
}
.fx-ai-c{
    display: flex;
    align-items: center;
}
.fx-aj-cs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fx-aj-ca{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fx-jc-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basic-font{
       font-family: NotoSansCJKkr;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
}
